<a href="https://colab.research.google.com/github/ycarrera01/Miner-a-de-datos/blob/main/An%C3%A1lisisIPHEestadistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Se cargan las librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Cargar dataset
df = pd.read_excel("agrupado.xlsx")

In [4]:
#Comprobar que la data está cargada correctamente
df.head ()

,Fecha_Cierre,Año,Mes,Número_mes,"Escuela, Programa, Extensión",C_E_Total,C_E_Hombre,C_E_Mujer,C_E_Contactado,IPHE_Total,IPHE_Hombre,IPHE_Mujer,IPHE_Contactados,Ctd_Docentes
0,2021-01-31,2021,Enero,1,Escuela de Enseñanza Especial,1476,876,600,0,0,0,0,0,0
1,2021-01-31,2021,Enero,1,Escuela Vocacional Especial,593,374,219,0,853,543,310,0,0
2,2021-01-31,2021,Enero,1,Escuela de Sordos,1006,624,382,0,24,11,13,0,0
3,2021-01-31,2021,Enero,1,Escuela de Ciegos Hellen Keller,145,94,51,0,105,51,54,0,0
4,2021-01-31,2021,Enero,1,Programa de Autismo,281,199,82,0,76,65,11,0,0

In [5]:
# Busco conocer el tipo de datos que tiene el dataset
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Fecha_Cierre                  525 non-null    datetime64[ns]
 1   Año                           525 non-null    int64
 2   Mes                           525 non-null    object
 3   Número_mes                    525 non-null    int64
 4   Escuela, Programa, Extensión  525 non-null    object
 5    C_E_Total                    525 non-null    int64
 6   C_E_Hombre                    525 non-null    int64
 7   C_E_Mujer                     525 non-null    int64
 8   C_E_Contactado                525 non-null    int64
 9   IPHE_Total                    525 non-null    int64
 10  IPHE_Hombre                   525 non-null    int64
 11  IPHE_Mujer                    525 non-null    int64
 12  IPHE_Contactados              525 non-null    int64
 13  Ctd_Docentes                  525 non-null    int64
dtypes: datetime64[ns](1), int64(11), object(2)
memory usage: 57.6+ KB

In [6]:
#Aplicar la estadistica descriptiva para entender el comportamiento de los datos
df.describe ()

,Fecha_Cierre,Año,Número_mes,C_E_Total,C_E_Hombre,C_E_Mujer,C_E_Contactado,IPHE_Total,IPHE_Hombre,IPHE_Mujer,IPHE_Contactados,Ctd_Docentes
count,525,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000
mean,2022-02-01 00:57:36,2021.560000,6.360000,536.579048,133.180952,77.767619,149.337143,226.828571,62.529524,36.598095,56.967619,10.815238
min,2021-01-31 00:00:00,2021.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021-07-31 00:00:00,2021.000000,3.000000,250.000000,0.000000,0.000000,0.000000,96.000000,0.000000,0.000000,0.000000,0.000000
50%,2022-01-31 00:00:00,2022.000000,6.000000,373.000000,0.000000,0.000000,0.000000,162.000000,0.000000,0.000000,0.000000,0.000000
75%,2022-07-31 00:00:00,2022.000000,9.000000,837.000000,199.000000,101.000000,153.000000,284.000000,95.000000,56.000000,25.000000,0.000000
max,2023-03-31 00:00:00,2023.000000,12.000000,1528.000000,955.000000,641.000000,1431.000000,1382.000000,839.000000,543.000000,862.000000,224.000000
std,NaN,0.571859,3.454436,392.375507,223.659245,137.825033,316.069230,227.608017,126.136927,74.783073,139.498656,26.269343

In [8]:
print(df.columns.tolist())

['Fecha_Cierre', 'Año', 'Mes', 'Número_mes', 'Escuela, Programa, Extensión', ' C_E_Total', 'C_E_Hombre', 'C_E_Mujer', 'C_E_Contactado', 'IPHE_Total', 'IPHE_Hombre', 'IPHE_Mujer', 'IPHE_Contactados', 'Ctd_Docentes']

In [9]:
# Lista de columnas a evaluar se seleccionan las numéricas int64
columnas_numericas = [
    ' C_E_Total', 'C_E_Hombre', 'C_E_Mujer', 'C_E_Contactado', 'IPHE_Total', 'IPHE_Hombre', 'IPHE_Mujer', 'IPHE_Contactados', 'Ctd_Docentes'
]

# Agrupar por mes.
# y verificar si todas las columnas numéricas son cero en cada grupo
meses_validos = df.groupby("Fecha_Cierre")[columnas_numericas].sum().ne(0).any(axis=1)

In [13]:
# Crear una copia del DataFrame para trabajar
df_limpio = df.copy()

# Para cada mes, verifica si cada columna está completamente en cero
for mes, grupo in df.groupby("Fecha_Cierre"):
    for col in columnas_numericas:
        if grupo[col].sum() == 0:
            # Si toda la columna está en cero ese mes, reemplazar con NaN solo en ese mes
            df_limpio.loc[df["Fecha_Cierre"] == mes, col] = np.nan